

#Titulo {
    
    color:blue ; /*el comando color asigna color a las letras*/
    /*Asigna color al id que haya identificado con ese nombre */
}

p.texto {
    color:blueviolet ;
    /*Asigna color al id identificado como p.texto*/
}
p.textoespecial {
    background-color: blue;
    /*este comando asigna el color de fondo*/
}
div p {
    color:aquamarine;

    /*asigna color a lo que se encuentre dentro de div con la p*/
    
}
div h2, div h3 {
    color:blueviolet;
    /*asigna color a dentro de div y a cada uno de los designados h*/
}
* {
    font-size: 24px; /* asigna el tamaño de las letras*/
    color:black; /* no sirve*/

    /* dentro de esto es para hacer comentarios */
}

.color {
    border: 5 px black dashed;
    /*
        solid
        dotted
        double
        groove
        ridge
        inset
        outset
        none
        hidden
    */
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 5px; /*Ancho del borde*/
}
#fondo {
    background-color: red;
    /*opacity: 0.3;*/
    height: 400px;
    background-image: url('foto.webp');
    background-size: 400px 400px;

    /*
    background-size:contain; */
    background-repeat: no-repeat;
    background-position: center;
    /* permite ubicar donde queremos que se ubique la imagen*/
 
    


}
.margen {
    
    background-color: red
    /*
    margin:
    padding:
    border:
    height:
    width:
    overflow: scroll;
    outline: 

*/

}



/*
.color { 
    color: #ff0000; 
    /*asignacion de color mediante hexagecimal,
    siempre comienzan con numeral*/
}
color {
    color:rgb(red, green, blue); 
    /* asignacion color medante formato rgb*/
}
*/


